body{
  display:flex;
  background: #000;
 }
#main{
  display:flex;
  justify-content: center;
  align-items:center;
  position: absolute;
  width:98%;
  height:98%;
 }
#button_box{
  display:flex;
  justify-content: center;
  align-items:center;
  background-color: orange;
  position: absolute;
  width:50%;
  height:50%;
}
.img_block{
  width:100%;
  height:auto;
}
button{
  display: flex;
  justify-content: center;
  align-items:center;
  position: absolute;
  width:25%;
  height: 25%;
  border: solid 4px #000;
  background-color: orange;
  color:red;
  box-shadow: -30px 30px 3px orange;
  transition-duration: 2s;
}
button:hover{
  cursor: pointer;
  color:#00FF7F;
  border: solid 4px #00FF7F;
  background-color:rgba(0, 0, 0, 0.1);
  box-shadow: -30px 30px 3px rgba(0, 255, 127, 0.7),
  -30px 30px 3px rgba(0, 255, 127, 0.4);
  transition-duration: 2s;
}
